@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(0,80,96);
  background: -moz-radial-gradient(circle, rgba(0,80,96,1) 0%, rgba(2,35,42,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0,80,96,1) 0%, rgba(2,35,42,1) 100%);
  background: radial-gradient(circle, rgba(0,80,96,1) 0%, rgba(2,35,42,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005060",endColorstr="#02232a",GradientType=1);
}